/*
    Dark Grey: #252525 / rgb(37,37,37)
    Purple: #120A3D / rgb(18,10,61)
    Faded Purple: #412854 / rgb(65, 40, 84)
    Faded Green: #4CC35B / rgb(76,195,91)
    Bright Green: #68DA23 / rgb(104,218,35)
*/

#title{
    color: #68DA23;    
    margin: 2%;
    text-align: center;
}

body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    min-width: 600px;
    background-color: #252525;
    font-family: verdana,tahoma,sans-serif;
}

#songInfo{
    color: #4CC35B;
}

.scrollbar{
    /* border: 5px solid #412854; */
    border: 1px solid rgba(65, 40, 84, .22);
    border-radius: 25px;
    position: relative;
    margin-top: 40px;
    left: 20%;
    margin-right: 20%;
    width: 60%;
    background-color: rgba(65, 40, 84, .22); 
    padding: 2.5%;
    float: left;
    height: 750px;
    overflow-y: scroll;
    color: rgba(255, 255, 255, 200);
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(245, 245, 245, 0.1); 
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #120A3D; 
}

.scrollbar-playlist{
    /* border: 5px solid #412854; */
    border: 1px solid rgba(65, 40, 84, .22);
    width: 100%;
    background-color: rgba(65, 40, 84, .22); 
    padding: 2.5%;
    float: left;
    height: 750px;
    overflow-y: scroll;
    color: rgba(255, 255, 255, 200);
}

#authorize, #playlists{
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    align-content: center;
}

.card-body{
    padding:0;
}

.btn-secondary{
    background-color: rgba(0, 0, 0, 0.7);
}

.playlist-playall, .song{
    width: 100%;
    background-color: rgba(65, 40, 84, .9);
}
.playlist-playall:hover, .song:hover{
    background-color: rgba(65, 40, 84, .7);
}

#playlist-collapse-card{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#authorizeSpotifyBtn, #playlist-collapse{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px black;
}

.playlist-nested{
    width: 100%;
    text-overflow: ellipsis;
    background-color: rgba(18, 10, 61, 1);
} 

.playlist-nested:hover{
    background-color: rgba(18, 10, 61, 0.88);
}

.playlist-nested-card{
    width: 100%;
    border: solid 1px black;
}

.item{
    width: 30%;
    margin: 0 auto;
    border:1px solid black;
    padding:5px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #3B94D9;
    color: white; 
    font-size: 1.1em;
}

.profileImg {
    width: 25px;
    height: 25px;
}

#aboutCard{
    position:fixed;
    border: 1px solid rgba(65, 40, 84, .22);
    border-radius: 25px;
    background-color: rgba(65, 40, 84, .22); 
    top: 2.5%;
    right: 0px;
    width: 20%;
    color: rgba(255, 255, 255, 200);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: rgba(245, 245, 245, 0.1);
}